<!--Need to fix-->
<div>
  <ngb-alert class="alert-danger" *ngIf="!petForm.get('name').valid && petForm.get('name').touched">
    <span class="alert-text">Name required</span>
  </ngb-alert>
</div>
<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <form [formGroup]="petForm" (ngSubmit)="registerPet()" role="form">
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Name" type="text" id="name"
                           [formControlName]="'name'"
                           name="name" autofocus required>
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Species" type="text" id="species"
                           [formControlName]="'species'"
                           name="species" autofocus>
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Breed (if applies)" type="text" id="breed"
                           [formControlName]="'breed'"
                           name="breed" autofocus>
                  </div>
                </div>
                <!-- Datepicker -->
                <div class="form-group mb-3">
                  <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-calendar-grid-59"></i></span>
                      </div>
                      <input class="form-control datepicker" placeholder="Birthday" formControlName="date_of_birth"
                             id="date_of_birth" name="dp" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"
                             (focus)="focus1=true"
                             (blur)="focus1=false" type="text" (select)="onDateSelection($event)" autocomplete="off"/>
                    </div>
                  </div>
                </div>
                <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                  <div class="custom-control custom-radio mb-3">
                    <input id="male" name="sex" [formControlName]="'sex'" class="custom-control-input" value="male"
                           type="radio">
                    <label class="custom-control-label" for="male">
                      <label>Male</label>
                    </label>
                  </div>
                  <div class="custom-control custom-radio mb-3">
                    <input id="female" name="sex" [formControlName]="'sex'" class="custom-control-input" value="female"
                           type="radio">
                    <label class="custom-control-label" for="female">
                      <label>Female</label>
                    </label>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-primary my-4">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
