<div class="row justify-content-center">
  <div class="col-lg-6 mt-5 mt-lg-0">
    <div class="col-sm-9">
      <br/><br/>
      <h1 class="display-2 mb-0">Upload medical test</h1>
    </div>
    <br/><br/>
    <form [formGroup]="filesForm" (ngSubmit)="upload()" role="form">
      <div *ngIf="currentFile" class="progress">
        <div
          class="progress-bar progress-bar-info progress-bar-striped"
          role="progressbar"
          attr.aria-valuenow="{{ progress }}"
          aria-valuemin="0"
          aria-valuemax="100"
          [ngStyle]="{ width: progress + '%' }"
        >
          {{ progress }}%
        </div>
      </div>

      <label class="btn btn-default">
        <input type="file" accept="application/pdf" (change)="selectFile($event)"/>
      </label>

      <button class="btn btn-primary my-4" [disabled]="!selectedFiles" (click)="upload()">
        Upload
      </button>

      <div class="alert alert-light" role="alert">{{ message }}</div>

      <div class="card">
        <div class="card-header">List of Files</div>
        <ul
          class="list-group list-group-flush"
          *ngFor="let file of fileInfos | async"
        >
          <li class="list-group-item">
            <a href="{{ file.url }}">{{ file.name }}</a>
          </li>
        </ul>
      </div>

    </form>
  </div>
</div>
