<div class="row justify-content-center">
  <div class="col-lg-6 mt-5 mt-lg-0">
    <div class="col-sm-9">
      <h1 class="display-2 mb-0">Search</h1>
    </div>
    <br/><br/><br/>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="specialization" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Specialization
      </button>
      <div class="dropdown-menu" aria-labelledby="specialization">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="health_insurance" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        Health Insurance
      </button>
      <div class="dropdown-menu" aria-labelledby="health_insurance">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
  <br/><br/><br/>
</div>
<br/><br/><br/>
